.categories {
    position: absolute;
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns:1fr minmax(280px, 1000px) 1fr;
    margin: 0 auto;
    width:100%;
    background-color: #fff;
    z-index: 1;
}