.categories {
    position: absolute;
    top: 100px;
    right: 30%;
    background-color: white;
    height: auto;
    width: 40%;
    display: grid;
    grid-template-columns: (3,auto);
    grid-template-rows: auto;
    justify-content: space-between;
    z-index: 99;
}