.highlight {
    grid-column: 2/3;
    width: 100%;
    margin-top: 80px;
    box-sizing: border-box;
}

.carouselitem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    height:100%;
    width:100%;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.carouselitem h1 {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 1.25;
    letter-spacing: 0.1rem;
}

.carouselitem h4 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    color: #333;
}

.carouselitem h5 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    color: rgba(255,255,255,0.9);
}

.img-conatin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 280px;
    height:400px;
    overflow:hidden;
}

.img-conatin img{
    width: auto;
    min-height: 400px;
    
}

.carouselitem-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: auto;
    height:400px;
    background-color: #f2c816;
    box-sizing: border-box;
    min-width: 280px;
}