.navbar {
    position: fixed;
    top: 0;
    background-color: white;
    height: 100px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translate(-570px, 0px);
}

.navbar_cat_title {
    color: black;
    cursor: pointer;
    font-size: 30pt;  
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border: none;  
    background-color: rgba(255, 255, 255, 0);
}

.navbar_cat_title:focus {
    outline: none;
}

.navbar_search input, .navbar_search button {
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}